body {
  font-family: Helvetica, 'Roboto', arial, sans-serif;
  font-size:1.2em;
  color:white;
  background-color:black;
}
legend{
  text-align:left;
}
.uBody{
  margin-top:1.0em;
  margin-left:1.0em;
  margin-right:1.0em;
}

.rain{
  margin-top:0.3em;
}
.mbtn{
  float:right;
  width:40px;
  vertical-align:baseline;
  text-transform: lowercase;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0.1em;
  margin-right:0.3em;
  padding-bottom:0.2em;
}

#btn-leng{
  margin-top:1.0em;
  margin-left:1.0em;
  font-size:0.8em;
}
#btn-temp{
  margin-top:1.0em;
  font-size:0.8em;
}
#navbar{
  color:white;
  background-color:#18929b;
}
#input{
  text-align:right;
  font-family: 'Roboto', sans-serif;
  font-size:1.2em;
  color:white;
}
#boil{
  color:red;
  font-size:16px;
}
#cool{
  color:blue;
  font-size:16px;
}
#h5{
  margin-top:20px;
}
#ctl{
  font-size:0.5em;
  margin-left:2.0em;
}
#h4{
  margin-left:2.0em;
}